@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

section {
  margin-top: 150px;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  text-align: center;
}

li {
  list-style-type: none;
}

button {
  font-family: montserrat;
  padding: 5px 35px 5px 35px;
  background-color: #4dc4ff;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

label {
  font-family: montserrat;
}

input {
  border: solid 1.5px black;
  border-radius: 10px;
  font-family: montserrat;
  margin-left: 15px;
}

.navbar {
  height: 88px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper-flex-center-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.tulisan1-judul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: montserrat;
  font-size: 1.5rem;
}

body #section1 {
  margin-top: 0;
  background-color: #45bde5;
}

body #section1 #selector_1 #selector1 .wrapper-flex-spacebetween {
  height: 88px;
}

body #section1 #selector_1 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #section1 #selector_1 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center .tulisan1-judul {
  color: white;
}

body #section2 #selector_1 #selector1 .wrapper-flex-center .tulisan1-judul {
  text-align: center;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(1) {
  font-size: 2rem;
  text-align: center;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(2) {
  font-size: 2.5rem;
  color: #4dc4ff;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(3) {
  width: 350px;
  text-align: center;
  margin-top: 25px;
  padding: 5px 35px 5px 35px;
  background-color: #71ddff;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(3):hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(4) {
  width: 350px;
  text-align: center;
  margin-top: 15px;
  padding: 5px 35px 5px 35px;
  background-color: #4dc4ff;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(4):hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(5) {
  width: 350px;
  text-align: center;
  margin-top: 15px;
  padding: 5px 35px 5px 35px;
  background-color: #45bde5;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #section2 #selector_1-home #selector2-home .wrapper-flex-center-down .tulisan1-judul:nth-of-type(5):hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #section2 #selector_2 #selector2 .wrapper-flex-center {
  margin-top: 15px;
}

body #section2 #selector_2 #selector2 .wrapper-flex-center .tulisan1-judul {
  text-align: center;
  color: #45bde5;
  width: 80%;
}

body #section2 #selector_3 #selector3 .wrapper-flex-center {
  margin-top: 55px;
}

body #section2 #selector_3 #selector3 .wrapper-flex-center .wrapper-flex-spacebetween {
  width: 30%;
}

body #section2 #selector_3 #selector3 .wrapper-flex-center .wrapper-flex-spacebetween .tulisan1-judul:nth-of-type(1) {
  padding: 5px 35px 5px 35px;
  background-color: #71ddff;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #section2 #selector_3 #selector3 .wrapper-flex-center .wrapper-flex-spacebetween .tulisan1-judul:nth-of-type(1):hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #section2 #selector_3 #selector3 .wrapper-flex-center .wrapper-flex-spacebetween .tulisan1-judul:nth-of-type(2) {
  padding: 5px 35px 5px 35px;
  background-color: #4dc4ff;
  border-radius: 15px;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #section2 #selector_3 #selector3 .wrapper-flex-center .wrapper-flex-spacebetween .tulisan1-judul:nth-of-type(2):hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=styles.css.map */